In [1]:
import time
from datetime import timedelta, datetime, date
import pandas as pd

In [4]:
def get_data(ticker,sddate,eddate):
    formatDate = "%Y-%m-%d"

    eddate=datetime.strptime(eddate,formatDate)
    eddate=eddate+timedelta(days=1)
    eddate=eddate.strftime(formatDate)

    period1=int(time.mktime(time.strptime(sddate,formatDate)))
    period2=int(time.mktime(time.strptime(eddate,formatDate)))

    ticker=ticker.replace(",","-")
    querystring=f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval=1d&events=history&includeAdjustedClose=true"

    daily=pd.read_csv(querystring)
    daily=daily.set_index(pd.DatetimeIndex(daily['Date'].tolist()))
    return daily

ticker='AAPL'
df=get_data(ticker,'2020-01-01','2024-02-09')
df

,Date,Open,High,Low,Close,Adj Close,Volume
2019-12-31,2019-12-31,72.482498,73.419998,72.379997,73.412498,71.332916,100805600
2020-01-02,2020-01-02,74.059998,75.150002,73.797501,75.087502,72.960464,135480400
2020-01-03,2020-01-03,74.287498,75.144997,74.125000,74.357498,72.251144,146322800
2020-01-06,2020-01-06,73.447502,74.989998,73.187500,74.949997,72.826851,118387200
2020-01-07,2020-01-07,74.959999,75.224998,74.370003,74.597504,72.484337,108872000
...,...,...,...,...,...,...,...
2024-02-05,2024-02-05,188.149994,189.250000,185.839996,187.679993,187.186920,69668800
2024-02-06,2024-02-06,186.860001,189.309998,186.770004,189.300003,188.802673,43490800
2024-02-07,2024-02-07,190.639999,191.050003,188.610001,189.410004,188.912384,53439000
2024-02-08,2024-02-08,189.389999,189.539993,187.350006,188.320007,187.825256,40962000
2024-02-09,2024-02-09,188.649994,189.990005,188.000000,188.850006,188.594208,45155200